@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* in common rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Roboto", sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

:root{
    --button-color: #0061FF;
    --max: 100%;
    --sm: 1208px;
    --xsm: 1000px;
    --card: 253px;
    --middle-text:305;
}

li{
    line-height: 22px;
}


/*layout rules*/
.margin-auto{
    margin:0 auto;
}

.container{
    width: var(--max);
}

.container-sm{
    width: var(--sm);
}

.container-xsm{
    width: var(--xsm);
}

.container-card{
    width: var(--card);
}

.container-text{
    width: var(--middle-text);
}

/* divisa */
.btn-like{
    background-color: var(--button-color);
    line-height: 1px;
    color: white;
}

/*aggiustare tutte queste row, con approccio utility first*/
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-fs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.row-sb{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
}
.row-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.row-op{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 75px;
}
.row-type1{
    display: flex;
    justify-content: center;
}

.margin-auto{
    margin:0 auto;
}

.mb-150{
    margin-bottom: 150px;
}

.ptb-11{
    padding: 11px 0;
}
.dfc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fs-50{
    font-size: 50;
}
.p-20-30{
    padding: 20px 30px;
}
.p-16-50{
    padding: 16px 50px;
}
.pt-50{
    padding-top: 50px;
}
.pt-75{
    padding-top: 75px;
}
.pt-200{
    padding-top: 200px;
}
.w-100{
    width: 100%;
}
.w-1_3{
    width: calc(100%/3 - 50px);  
}
.w-50{
    width: 50%;  
}
.w-33{
    width: calc(100%/3);  
}

.cg-20{
    column-gap: 20px;
}
.rg-35{
    row-gap: 35px;
}
.rg-30{
    row-gap: 30px;
}
.rg-30{
    row-gap: 20px;
}
.p-r{
    position:relative;
}
.p-a{
    position:absolute;
}
.rt-30{
    top: 30px;
    right: 30px;
}
/*nav rules*/
/*first section*/
.radio-selection{
    display: inline-block;
    margin-right: 48px;
}
.section-title{
    padding-top: 160px;
    padding-bottom: 70px;
}

.header-card{
    border-bottom:1px solid  #E6E6E7;
}

.sub-header-card{
    row-gap: 18px;
}

.body-card{
    row-gap: 27px;  
}

.buy-now{
    text-decoration: solid;
}
/*middle page rules*/
.btn-like.p-20-15.bc-white{
    background-color: white;
    color:black;
}

.title-mini-card{
    font-size: 25;
    padding-bottom: 40px;
}
.info-title{
    font-size: 40px;
}

.dfr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.helper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-size: 30;
}


/*debug rules*/

.debug{
    border: 2px dashed black;
    
}

/*after correction*/
/*postition*/

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

.bottom-30{
    bottom: 30px;
}
/* flex rules */
.flex{
    display: flex;
}
.rowc{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: flex-start;
}
.align-stretch{
    align-items: stretch;
}
.align-center{
    align-items: center;
}
.flex-column{
    flex-direction: column;
}
.align-start{
    align-items: flex-start;
}
.wrap{
    flex-wrap: wrap;
}
.gap-75{
    gap: 75px;
}
.row-gap-27{
    row-gap: 27px; 
}
.row-gap-18{
    row-gap: 18px; 
}
.gap-0-15{
    gap: 0 15px;
}

/* end flex rules */

/* column rules */
.col-30{
    width: 30%;
}

.col-40{
    width: 40%;
}
.col-1_5{
    width: calc(100%/5);
}
.col-60{
    width: 60%;
}
.col-70{
    width: 70%;
}
.col-1_3-47{
    width: calc(100%/3 - 47px);
}

/* end column rules */

/* start color and background rules */

.bcolor-white{
    background-color: white;
}
.color-white{
    color: white;
}
.color-B4D0E7{
    color: #B4D0E7;
}
.bg-color-B4D0E7{
    background-color: #B4D0E7;
}
.bg-color-black{
    background-color: black;
}
.bgcolor-blu{
    background-color: var(--button-color);
}
.color-61082B{
    color: #61082B;
}
/* end color and background rules */

/* border rules */

.borderbot-1solid-E6E6E7{
    border-bottom:1px solid  #E6E6E7;
}
.border-1solid-E6E6E7{
    border:1px solid  #E6E6E7;
}

/* end border rules */

/* start padding rules */

.paddinglr-15{
    padding: 0 15px;
}
.paddinglr-50 {
    padding-left:50px;
    padding-right: 50px;
}
.paddingtb-15{
    padding-top: 15px ;
    padding-bottom: 15px;
}
.paddingt-150{
    padding-top: 150px;
}
.paddingb-150{
    padding-bottom: 150px;
} 
.paddingb-70{
    padding-bottom: 70px;
}
.paddingt-42{
    padding-top: 42px;
}
.paddingb-42{
    padding-bottom: 42px;
}
.paddingt-100{
    padding-top: 100px;
}
.paddingb-115{
    padding-bottom: 115px;
}
.paddingb-30{
    padding-bottom: 30px;
}
.paddingb-20{
    padding-bottom: 20px;
}
.padding-20-15{
    padding: 20px 15px;
}
.paddingb-47{
    padding-bottom: 47px;
}
.paddingl-45{
    padding-left: 45px;
}
.paddingt-130{
    padding-top: 130px;
} 
.paddingb-130{
    padding-bottom: 130px;
}
.paddingb-40{
    padding-bottom: 40px;
}
.paddingt-30{
    padding-top: 30px;
}
.paddingb-24{
    padding-bottom: 24px;
}
.paddingb-56{
    padding-bottom: 56px;
}
.paddingt-86{
    padding-top: 86px;
}
.paddingb-62{
    padding-bottom: 62px;    
}

/* end padding rules*/

/*margin rules*/
.marginb-65{
    margin-bottom: 35px;
}
.margint-60{
    margin-top: 30px;
}
/*end margin rules*/

/* font size rules*/
.font-size-25{
    font-size: 25px;
}
.font-size-100{
    font-size: 100;
}
.font-size-30{
    font-size: 30;
}
.font-size-50{
    font-size: 50;
}
.size-large{
    font-size: large;
}
.line-height-1{
    line-height: 1px;
}
/* end font size rules*/

