/* in common rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

:root{
    --button-color: #0061FF;
    --max: 100%;
    --sm: 1208px;
    --xsm: 1000px;
}

li{
    line-height: 22px;
}

.btn-like{
    background-color: var(--button-color);
    display: block;
    line-height: 1px;
    color: white;
}
/*layout rules*/

.container{
    width: var(--max);
}

.container-sm{
    width: var(--sm);
}

.container-xsm{
    width: var(--xsm);
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plr-15{
    padding: 0 15px;
}
.p-10{
    padding: 10px;
}


/*header*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 0 15px;
}
.mi{
    padding: 20px 15px;
}

/*debug rules*/
.debug{
    border: 2px solid black;
}