@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* in common rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Roboto", sans-serif;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

:root{
    --button-color: #0061FF;
    --max: 100%;
    --sm: 1208px;
    --xsm: 1000px;
    --card: 253px;
    --middle-text:305;
}

li{
    line-height: 22px;
}


/*layout rules*/

.container{
    width: var(--max);
}

.container-sm{
    width: var(--sm);
}

.container-xsm{
    width: var(--xsm);
}

.container-card{
    width: var(--card);
}

.container-middle-text{
    width: var(--middle-text);
}

.btn-like{
    background-color: var(--button-color);
    line-height: 1px;
    color: white;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-fs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.row-sb{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
}
.row-type1{
    display: flex;
    justify-content: center;
}
.plr-15{
    padding: 0 15px;
}
.p-10{
    padding: 10px;
}

.mg-auto{
    margin:0 auto;
}
.pt-150{
    padding-top: 150px;
}

.p-20-15{
    padding: 20px 15px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-47{
    padding-bottom: 47px;
}
.pl-45{
    padding-left: 45px;
}
.pb-40{
    padding-bottom: 40px;
}
.pt-30{
    padding-top: 30px;
}
.pb-24{
    padding-bottom: 24px;
}
.pb-56{
    padding-bottom: 56px;
}
.ptb-11{
    padding: 11px 0;
}
.bg-color{
    background-color: #B4D0E7;
}
.dfc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fs-50{
    font-size: 50;
}
.p-20-30{
    padding: 20px 30px;
}
.pt-50{
    padding-top: 50px;
}

.w-100{
    width: 100%;
}

.rg-35{
    row-gap: 35px;
}
.p-r{
    position:relative;
}
.p-a{
    position:absolute;
}
.rt-30{
    top: 30px;
    right: 30px;
}
.border{
    border:1px solid  #E6E6E7;
}
/*nav rules*/
.navbar .menu .logo-img{
    display: block;
    padding-left: 0;
}
/*header*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 0 15px;
}
.mi{
    padding: 20px 15px;
}

/*hero*/
.hero-title{
    font-size: 100;
    padding-top: 86px;
    padding-bottom: 62px;
}

.col-1{
    width: 30%;
    position:relative;
}
.col-2{
    width: 70%;
}

.arrow-abs{
    font-size: 50;
    position: absolute;
    bottom: 15px;
}
/*first section*/
.radio-selection{
    display: inline-block;
    margin-right: 48px;
}
.section-title{
    padding-top: 160px;
    padding-bottom: 70px;
}

.col.w-1_3{
    border:1px solid  #E6E6E7;
    width: calc(100%/3 - 47px);
}

.header-card{
    border-bottom:1px solid  #E6E6E7;
}

.sub-header-card{
    row-gap: 18px;
}

.body-card{
    row-gap: 27px;  
}

.buy-now{
    text-decoration: solid;
}
/*middle apge rules*/
.col-3{
    width: 60%;
}
.col-4{
    width: 40%;
}
/*debug rules*/

.debug{
    border: 2px dashed black;
    
}